@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

ul[class],
ol[class] {
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
}

input,
button,
textarea,
select {
    font: inherit;
}

.wrap {
    max-width: 1170px;
    min-width: 320px;
    margin: 0 auto;
    padding: 0 15px;
}

.header-wrap {
    background-color: #fafafa;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    margin: 0 auto;
    padding: 30px 15px;
}

.header-nav {
    display: flex;
    flex-wrap: wrap;
}

.header-nav li {
    margin: 5px 15px;
}

.header-nav li a {
    color: #000;
    text-decoration: none;
    font-size: 1.125rem;
}

.header-nav li a:hover {
    text-decoration: underline;
}

.header-btn-finder {
    text-transform: uppercase;
    border: 1px solid #f7941e;
    color: #f7941e;
    padding: 14px 25px;
    text-decoration: none;
    font-size: 1.125rem;
    border-radius: 5px;
    display: inline-block;
}

.about {
    max-width: 1440px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas:
        'find imgright'
        'imgleft work'
    ;
}

.about-find {
    grid-area: find;
    background: #fafafa;
    justify-content: center;
    align-items: center;
    display: flex;
}

.about-find>div {
    max-width: 440px;
}

.about-img-right {
    grid-area: imgright;
}

.about-work {
    grid-area: work;
    background: #fafafa;
    justify-content: center;
    align-items: center;
    display: flex;
}

.about-work>div {
    max-width: 440px;
}

.about h1 {
    font-weight: 500;
    font-size: 3.5rem;
    line-height: 4rem;
    margin-bottom: 2.8rem;
}

.about h2 {
    font-weight: 400;
    font-size: 2rem;
    line-height: 2.5rem;
    margin-bottom: 1.8rem;
}

.about p {
    font-weight: 300;
    font-size: 1.25rem;
    line-height: 1.8rem;
    margin-bottom: 2.8rem;
}

.about-img-left {
    grid-area: imgleft;
}

.btn-orange {
    text-transform: uppercase;
    background: #f7941e;
    color: #fafafa;
    padding: 20px 35px;
    text-decoration: none;
    font-size: 1.125rem;
    border-radius: 5px;
    display: inline-block;
}

.btn-orange-transparent {
    text-transform: uppercase;
    border: 1px solid #f7941e;
    color: #f7941e;
    padding: 20px 35px;
    text-decoration: none;
    font-size: 1.125rem;
    border-radius: 5px;
    display: inline-block;
}

.gifts-wrap {
    padding: 95px 0;
}

.centered {
    text-align: center;
    font-weight: 400;
    font-size: 2rem;
    line-height: 2.3rem;
    margin-bottom: 1.5rem;
}

.gifts>p {
    text-align: center;
    font-size: 1.125rem;
    line-height: 1.5rem;
    margin-bottom: 4rem;
}

.gifts-blocks {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.gifts-items {
    max-width: 270px;
    background: #fafafa;
}

.gifts-items:hover {
    background: #fff;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05);
}

.gifts-items-txt {
    padding: 24px;
}

.gifts-items-txt h3 {
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 74px;
}

.gifts-items-txt p {
    font-size: 14px;
    line-height: 19px;
}

.gifts-items-txt p a {
    color: #000;
    text-decoration: none;
}

.gifts-items-txt p a:hover {
    text-decoration: underline;
}

@media(max-width: 1000px) {
    .about {
        grid-template-columns: 100%;
        grid-template-areas:
            'imgright'
            'find'
            'imgleft'
            'work'
        ;
    }

    .about-img-left,
    .about-img-right {
        background-color: #fafafa;
    }

    .about-img-left img,
    .about-img-right img {
        margin: 0 auto;
    }

    .about-work,
    .about-find {
        padding: 32px 20px;
    }
}

@media(max-width: 700px) {
    .gifts-blocks{
        flex-wrap: wrap; /*разрешить вставать с новой строки при сужении*/
        justify-content: space-evenly; /*одинаковое расстояние справа и слева*/
        row-gap: 2rem;
    }
}

@media(max-width: 700px) {
    .header {
        flex-direction: column;
    }

    .header-logo {
        margin-bottom: 24px;
    }

    .header-nav {
        margin-bottom: 24px;
        justify-content: center;
    }
}

@media(max-width: 500px) {
    .about h1 {
        font-size: 2.5rem;
        line-height: 3rem;
        margin-bottom: 1.5rem;
    }

    .about h2 {
        font-weight: 400;
        font-size: 2rem;
        line-height: 2.5rem;
        margin-bottom: 1.8rem;
    }
}